# IDE's and configs
# ####################################
.idea

# ####################################
# Project files
# ####################################
backups-and-confs/gramaddict
inventory-secure.yaml
